@model List<KitapTuru>

<h1>Kitap Türü Sayfası</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Kitap Türü
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var kitapTuru in Model)
        {
            <tr>
                <td>
                    @kitapTuru.id
                </td>

                <td>@kitapTuru.Ad</td>
            </tr>
        }


    </tbody>
</table>